*,
*::before,
*::after {
  background-color: var(--dark-bg);
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --hot-pink: #f01ad9;
  --dark-bg: #292929;
  --bright-green: #55f500;
  --bright-red: #fb241a;
}
/*need to have responsive scaling*/

.quiz-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.quiz-header {
  border: var(--hot-pink) 0.125em solid;
  border-radius: 0.25em;
  box-shadow: inset 0 0 0.5em var(--hot-pink), 0 0 0.5em var(--hot-pink);
  padding: 10px;
  margin: 10px;
}

.quiz-text {
  border: var(--hot-pink) 0.125em solid;
  border-radius: 0.25em;
  padding: 10px;
  margin: 10px;
  box-shadow: inset 0 0 0.5em var(--hot-pink), 0 0 0.5em var(--hot-pink);
  display: flex;
  flex-direction: column;
  width: 100vh;
  height: 50vh;
  justify-content: center;
  align-items: center;
  color: var(--hot-pink);
}

#table-and-scores {
  position: absolute;
  top: 10px;
  left: 10px;
}

.button-div {
  flex: 1 0 20%;
}

#high-scores {
  color: var(--hot-pink);
}

.show-scores {
  color: var(--hot-pink);
}

.score-buttons {
  flex-direction: column;
  align-self: flex-start;
}

.high-timer {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  font-weight: bold;
  width: 100%;
  z-index: 100;
  position: relative;
}

p {
  color: var(--hot-pink);
}

h1 {
  color: var(--hot-pink);
  padding: 0.5em;
}

.container {
  border: var(--hot-pink) 0.125em solid;
  border-radius: 0.25em;
  padding: 10px;
  margin: 10px;
  box-shadow: inset 0 0 0.5em var(--hot-pink), 0 0 0.5em var(--hot-pink);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50vh;
  justify-content: center;
  align-items: center;
  color: var(--hot-pink);
  position: relative;
}

.question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#question {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#html-Form {
  padding: 10px;
  margin: 10px;
  border: var(--hot-pink) 0.125em solid;
  color: var(--hot-pink);
  border-radius: 0.25em;
  position: absolute;
  top: 12%;
}

.form {
  color: var(--hot-pink);
  font-size: larger;
  border: var(--hot-pink) 0.125em solid;
  box-shadow: inset 0 0 0.5em var(--hot-pink), 0 0 0.5em var(--hot-pink);
  border-radius: 0.25em;
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-submit {
  color: var(--hot-pink);
}

/* this is from the js code insertion  */
.timer-text {
  color: var(--hot-pink);
  font-size: larger;
  border: var(--hot-pink) 0.125em solid;
  box-shadow: inset 0 0 0.5em var(--hot-pink), 0 0 0.5em var(--hot-pink);
  border-radius: 0.25em;
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 100vh;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

.correct {
  padding: 10px;
  margin: 10px;
  border: var(--bright-green) 0.125em solid;
  color: var(--bright-green);
  border-radius: 0.25em;
}

.incorrect {
  padding: 10px;
  margin: 10px;
  border: var(--bright-red) 0.125em solid;
  color: var(--bright-red);
  border-radius: 0.25em;
}

.js-buttons {
  padding: 10px;
  margin: 10px;
  border: var(--hot-pink) 0.125em solid;
  color: var(--hot-pink);
  border-radius: 0.25em;
}

.js-buttons:hover {
  background-color: var(--hot-pink);
  color: var(--dark-bg);
  text-shadow: 0 0 0.5em darkblue;
}

/* ************** */
.main-button {
  color: var(--hot-pink);
  padding: 0.25em 1em;
  border: var(--hot-pink) 0.125em solid;
  border-radius: 0.25em;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  font-size: 2em;
  text-shadow: 0 0 0.125em darkblue, 0 0 0.5em var(--hot-pink);
  box-shadow: inset 0 0 0.5em var(--hot-pink), 0 0 0.5em var(--hot-pink);
  position: relative;
}

.main-button::before {
  content: " ";
  pointer-events: none;
  position: absolute;
  background: var(--hot-pink);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg);
  filter: blur(2em);
  opacity: 0.7;
}

.main-button::after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0.5em 1em var(--hot-pink);
  opacity: 0;
}

.main-button:hover {
  background-color: var(--hot-pink);
  color: var(--dark-bg);
  text-shadow: 0 0 0.5em darkblue;
}

.main-button:hover::after {
  opacity: 0.5;
  color: var(--dark-bg);
  background-color: var(--hot-pink);
  text-shadow: 0 0 0.5em darkblue;
}

.hidden {
  display: none;
}

@media (max-width: 450px) {
  #question-buttons {
    display: flex;
    flex-direction: column;
  }

  .high-timer {
    display: flex;
  }
  .quiz-block {
    padding: 15px;
  }
}
