* {
  background-color: aliceblue;
  border-style: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.quiz-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz-header {
  border: 5px inset black;
  padding: 10px;
  margin: 10px;
}

.quiz-text {
  border: 5px inset black;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: auto;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

.button-div {
  flex: 1 0 20%;
}

.high-timer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-weight: bold;
}

#start-button {
  background: radial-gradient(circle at center, red, green, 100%);
}
